@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #53cdd8;
  --secondary-color: #96eab7;
  --third-color: #7b99fa
}

body {
  background: #f1f3b8;
}

.animated-text span {
    display: inline-block;
    animation: bounce 1s infinite alternate;
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }